@import 'styles/common.scss';

.container {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $theme-background-secondary;
}

.header {
  flex-grow: 0;
}

.content {
  flex-grow: 1;
  overflow-y: scroll;
}
