@import 'styles/common.scss';

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 6px;
}

.day {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $theme-ui-secondary;
  @include size-body2;
}

.date {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $theme-ui-primary;
  @include size-h2;
}

.today {
  .day {
    color: $theme-accent-primary;
  }
  .date {
    background-color: $theme-accent-primary;
    color: white;
  }
}
