$theme-accent-primary: var(--theme-accent-primary);
$theme-accent-primary-active: var(--theme-accent-primary-active);
$theme-accent-secondary: var(--theme-accent-secondary);
$theme-accent-error: var(--theme-accent-error);
$theme-background-primary: var(--theme-background-primary);
$theme-background-secondary: var(--theme-background-secondary);
$theme-ui-primary: var(--theme-ui-primary);
$theme-ui-secondary: var(--theme-ui-secondary);
$theme-ui-tertiary: var(--theme-ui-tertiary);
