.container {
  width: 100%;
  max-width: 360px;
  padding: 36px;
  background-color: #fff;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.4em;
  margin-bottom: 16px;
}
