@import '../../styles/common.scss';

.container {
  width: 100%;
  max-width: 480px;
  padding: 36px;
  background-color: $theme-background-primary;
  @include border-radius-default;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  color: $theme-ui-primary;
  @include size-h1;
  @include weight-medium;
}
