@import 'styles/common.scss';

.container {
  @include size-h2;
  color: $theme-ui-primary;
  display: flex;
}

.year {
  min-width: 3.6rem;
  display: flex;
  justify-content: center;
}

.month {
  min-width: 2rem;
  display: flex;
  justify-content: center;
}
